.dataTables_wrapper .dt-buttons.btn-group {
    margin-top: -8px;
    display: none;
}

table.dataTable tbody tr td a i {
    font-size: 16px;
    margin: 0px 0px;
}

.dataTables_info {
    float: left ;
}